@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: rgba(167,41,245,1);
  --dark-navy: rgba(49,62,81,1);
  --light-grey: rgba(244,246,250,1);
  --grey-navy: rgba(98, 108, 127, 1);
  --light-bluish: rgba(171, 193, 225, 1);
  --light-pink: rgba(246, 231, 255, 1);
  --navy: rgba(59, 77, 102, 1);
  --white-overlay: rgba(255,255,255,0.5) & rgba(167,41,245,1);
  --correct-answer: rgba(38, 215, 130, 1);
  --incorrect-answer: rgba(238, 84, 84, 1);
}

.bg-dark {
  background-color: var(--dark-navy);
  background-image: url("../public/pattern-background-desktop-dark.svg");
}

.bg-light {
  background-color: var(--light-grey);
  background-image: url("../public/pattern-background-desktop-light.svg");
}


.bg-purple-icon {
  background-color: var(--purple);
}

.text-light {
  color: var(--dark-navy);
}

.text-dark {
  color: white;
}

.s-text-light {
  color: var(--grey-navy);
}

.s-text-dark {
 color: var(--light-bluish)
}

.heading-s {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
}

.heading-m {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0;
}

.heading-l {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1;
}

.heading-l-bold {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1;
}

.body-s {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  font-style: italic !important;
}

.progress-bar {
  border-radius: 999px;
  height: 16px;
}

.progress-bar-light {
  background-color: white;
}

.progress-bar-dark {
  background-color: var(--navy);
}

.progress-bar-fill {
  background-color: var(--purple);
  height: 8px;
  border-radius: 999px;
}

.option-icon {
  color: var(--grey-navy);
  line-height: 56px;
  background: var(--light-grey);
  border-radius: 4px;
}


.btn {
  border-radius: 24px;
  cursor: pointer;
}

.btn-submit {
  border-radius: 24px;
  background-color: var(--purple);
  color: white;
  font-weight: 500;
}

.btn-submit:hover {
  background-color: color-mix(in srgb, var(--purple) 100%, white 50%);
}

.btn-light {
  background-color: white;
  border: 3px solid white;
}

.btn-dark {
  background-color: var(--navy);
  border: 3px solid var(--navy);
}

.selected-answer {
  border: 3px solid var(--purple);
  border-radius: 24px;
}

.option-icon-selected {
  background-color: var(--purple);
  color: white;
}

.option-icon-correct {
  background-color: var(--correct-answer);
  color: white;
}

.option-icon-incorrect {
  background-color: var(--incorrect-answer);
  color: white;
}

.correct-answer {
  border: 3px solid var(--correct-answer);
  border-radius: 24px;
}

.incorrect-answer {
  border: 3px solid var(--incorrect-answer);
  border-radius: 24px
}

.btn:hover .option-icon {
  background-color: var(--light-pink);
  color: var(--purple);
}

.icon-html {
  background-color: rgba(255, 241, 233, 1);
}

.icon-css {
  background-color: rgba(224, 253, 239, 1);
}

.icon-js {
  background-color: rgba(235, 240, 255, 1);
}

.icon-accessibility {
  background-color: rgba(246, 231, 255, 1);
}

.icon-topic {
  border-radius: 4px;
}

.score-light {
  background-color: white;
  border-radius: 24px;
}

.score-dark {
  background-color: var(--navy);
  border-radius: 24px;
}

.text-display {
  font-size: 144px;
}

/* Custom widths for progress bar */

.custom-w-0 {
  width: 10%;
}

.custom-w-1 {
  width: 20%;
}

.custom-w-2 {
  width: 30%;
}

.custom-w-3 {
  width: 40%;
}

.custom-w-4 {
  width: 50%;
}

.custom-w-5 {
  width: 60%;
}

.custom-w-6 {
  width: 70%;
}

.custom-w-7 {
  width: 80%;
}

.custom-w-8 {
  width: 90%;
}

.custom-w-9 {
  width: 100%;
}


@media screen and (max-width:768px) {
  .heading-l, .heading-l-bold {
    font-size: 40px;
  }

  .heading-s {
    font-size: 18px;
  }

  .body-s {
    font-size: 14px;
  }

  .option-icon {
    line-height: 40px;
  }
}