@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple: rgba(167,41,245,1);
  --dark-navy: rgba(49,62,81,1);
  --light-grey: rgba(244,246,250,1);
  --grey-navy: rgba(98, 108, 127, 1);
  --light-bluish: rgba(171, 193, 225, 1);
  --light-pink: rgba(246, 231, 255, 1);
  --navy: rgba(59, 77, 102, 1);
}

.bg-dark {
  background-color: var(--dark-navy);
  background-image: url("../public/pattern-background-desktop-dark.svg");
}

.bg-light {
  background-color: var(--light-grey);
  background-image: url("../public/pattern-background-desktop-light.svg");
}


.bg-purple-icon {
  background-color: var(--purple);
}

.text-light {
  color: var(--dark-navy);
}

.s-text-light {
  color: var(--grey-navy);
}

.text-dark {
  color: white;
}

.s-text-dark {
 color: var(--light-bluish)
}

.heading-s {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
}

.heading-m {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0;
}

.heading-l {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1;
}

.heading-l-bold {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1;
}

.body-s {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  font-style: italic !important;
}

.progress-bar {
  border-radius: 999px;
  height: 16px;
}

.progress-bar-light {
  background-color: white;
}

.progress-bar-dark {
  background-color: var(--navy);
}

.progress-bar-fill {
  background-color: var(--purple);
  height: 8px;
  border-radius: 999px;
}

.option-icon {
  color: var(--grey-navy);
  line-height: 56px;
  background: var(--light-grey);
  border-radius: 4px;
}


.btn {
  border-radius: 24px;
  cursor: pointer;
}

.btn-light {
  background-color: white;
  border: 3px solid white;
}

.btn-dark {
  background-color: var(--navy);
  border: 3px solid var(--navy);
}

.btn:focus {
  border: 3px solid var(--purple);
}

.btn:focus:not(:active) .option-icon {
  background-color: var(--purple);
  color: white;
}

.btn:hover .option-icon {
  background-color: var(--light-pink);
  color: var(--purple);
}

.icon-html {
  background-color: rgba(255, 241, 233, 1);
}

.icon-css {
  background-color: rgba(224, 253, 239, 1);
}

.icon-js {
  background-color: rgba(235, 240, 255, 1);

}

.icon-accessibility {
  background-color: rgba(246, 231, 255, 1);

}

@media screen and (max-width:768px) {
  .heading-l, .heading-l-bold {
    font-size: 40px;
  }

  .heading-s {
    font-size: 18px;
  }

  .body-s {
    font-size: 14px;
  }

  .option-icon {
    line-height: 40px;
  }
}