@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple: rgba(167,41,245,1);
  --dark-navy: rgba(49,62,81,1);
  --light-grey: rgba(244,246,250,1);

}

.bg-dark {
  background-color: var(--dark-navy);
  background-image: url("../public/pattern-background-desktop-dark.svg");
}

.bg-light {
  background-color: var(--light-grey);
  background-image: url("../public/pattern-background-desktop-light.svg");
}


.bg-purple-icon {
  background-color: var(--purple);
}

.heading-s-light {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--dark-navy);
}

.heading-s-dark {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  color: white;
}